H2{
	color: #777777;
}

.panel-juego{
	margin-bottom: 25px;
}

/*.palabra{
	 
}

.letras{
*/

.acierto{
	color:#32db64!important;
}

// Mensages TOAST
.toast-success{
  > div{
       background-color:#32db64!important;
   }
}
.toast-danger{
  > div{
       background-color:#f53d3d!important;
   }
}
.toast-warning{
  > div{
       background-color:#f2cd3c!important;
   }
}

#palabraSolucion{
	text-transform: uppercase;
}